<head>
    <style type="text/css">
        .auto-style {
            color: #FFFFFF;
        }

        .t {
            text-align: center;
            vertical-align: middle;
        }

        #galleryItem {
            width: 200px;
        }
        #about{
            width:400px;
        }
    </style>
    <script>
        $(document).ready(function ($) {
            $("#galleryItem").fancybox();
        });
    </script>
</head>

<br />
<br />

<h1>A little more about me</h1>
<h3>Nathan Lombard u20438428</h3>

<div class="container">
    
    <div class="row">
        <div class="col-sm-6">
            <h4>Biography</h4>


            <p>I am Nathan Lombard, born on the 26th February 2001 in Middelburg, Mpumalanga, South Africa. I am currently living in Hatfiled, Pretoria and I am studying at the University of Pretoria.</p>
            <p>
                My hobbies include the following:
                <ul>
                    <li>Drawing</li>
                    <li>Gaming</li>
                    <li>Squash</li>
                    <li>Making food</li>
                    <li>Hiking</li>

                </ul>
            </p>
            <p>
                Some of my interests inlude:
                <ul>
                    <li>Coding</li>
                    <li>Gaming</li>
                    <li>Squash</li>
                    <li>Making food</li>
                    <li>Game design</li>
                    <li>Film production</li>
                    <li>Game design</li>
                </ul>
            </p>
            <p>I dream of mine would be to either work at a videogame company or that of Marvel Studios or Disney, being involved in the production of movies and animations etc</p>
        </div>
        <div class="col-sm-6">
            <h4>Nathan Lombard</h4>
            <div class="gallery" id="gallery">
                @foreach (var file in ViewBag.images)
                {
                    <a id="galleryItem" href="~/image/me.jpg"><img src="~/image/me.jpg" id="about" /></a>
                }
            </div>
           
        </div>
    </div>
</div>