<br />

<div class="row">
    <div class="col-sm-8">
        <h4>Description</h4>
        
        <p>
            This system is designed to save files of any type, images of any type and videos of any type into seperate folders that can be accessed later on. The home page gives a brief description of the system and allows a user to
            save their files,images or videos. The about page will give you a brief look into who I am and how I look. The Files page will retrieve all the documents that the user has saved and present them in a table where the user can then decide
            whether they want to download or delete a specific file. The image page will retrieve all the images saved and present them, along with having the option to download or delete them.The videos page will retrieve all the videos saved and present 
            them, along with having the option to download or delete them.
        </p>
    </div>
    <div class="col-sm-4">
        <h4>Option selection</h4>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))

        {
            <div>
                @Html.RadioButton("Answer", "A") <span>Document</span><br />
                @Html.RadioButton("Answer", "B") <span>Image</span><br />
                @Html.RadioButton("Answer", "C") <span>Video</span><br />
                
            </div>
            

            <div><input type="file" name="files" /></div>
            <br />
            <div><input type="submit" value="Upload" /></div>
        }
    </div>
</div>
